Language: Cpp
BasedOnStyle: Mozilla
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: Align
AlignOperands: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
ContinuationIndentWidth: 4
BreakBeforeBraces: Allman
InsertBraces: true
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: None
BreakAfterReturnType: None
AllowShortBlocksOnASingleLine: Never
ExperimentalAutoDetectBinPacking: false
PenaltyBreakAssignment: 20000
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always