# Program outputs
results/
benchmark_results/

# Build outputs
bin/
build/
out/

# Compiler specific files
*.pdb

# Dependencies
vcpkg_installed/

# IDE and editor files
.vscode/

# External tool files
compile_commands.json
.clangd
.cache/

# Python
.venv/
venv/
__pycache__/
*.egg-info/
*.pyc
*.pyo

# Syncthing
.stignore
.stfolder/

# OS-specific
.DS_Store
Thumbs.db
*.swp
*.swo
*~
