# Program outputs
results/
benchmark_results/

# Build outputs
bin/
build/
out/
release/
archive/

# Compiler specific files
*.pdb

# Dependencies
vcpkg_installed/

# IDE and editor files
compile_commands.json
.vscode/
.cache/
.vs/

# Python
.venv/
venv/
__pycache__/
*.egg-info/
*.pyc
*.pyo

# Syncthing
.stignore
.stfolder/

# OS-specific
.DS_Store
Thumbs.db
*.swp
*.swo
*~
